
/* Simple spinner styles */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner {
  border: 4px solid rgba(0,0,0,.1);
  position: fixed;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #222;
  animation: spin 1s infinite linear;
}

/* Spinner animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}