:root{
  --background: #171616;
  --text: #fafafa;
  --text-light: #CCCCCC;
}

@font-face {
  font-family: serif-medium;
  src: url(fonts/CanelaText-Medium-Trial.otf);
}


@font-face {
  font-family: serif-light;
  src: url(fonts/Canela-Light-Trial.otf);
}

@font-face {
  font-family: sans-serif;
  src: url(fonts/TestFoundersGroteskText-Light.otf);
}


body {
    background-color: var(--background);
    padding: 1rem;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    font-family: sans-serif;
    font-size: 0.9375rem;
    color: var(--text-light);
    overflow: hidden;
   
  }
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
    /* -webkit-filter: invert(100%);
    filter: invert(100%); */
  }

  #top-content{
    position: absolute;
    top: 6rem;
    left: 6rem;
    max-width: 40%;
  }


  #bottom-content{
    position: absolute;
    bottom: 6rem;
    right: 5rem;
    max-width: 32%;
  }
  
  a, a:visited {
    text-decoration: none;
    color: var(--text-light);
    display: inline-block;
    position: relative;
    transition: color 0.5s ease-out;
  } 
 
  .flex-col{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .flex-row{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .medium-gap{
    gap: 1.5rem;
  }

  .large-gap{
    gap: 3rem;
  }

  h1{
    font-size: 1.125rem;
    font-family: sans-serif;
    font-weight: 300;
    color: var(--text-light);
  }

  h2{
    font-size: 4rem;
    font-family: serif-light;
    font-weight: 300;
    color: var(--text);
    line-height: 1.1;
  }

  h3{
    font-family: serif-medium;
    font-weight: 600;
    font-size: 0.9375rem;
    color: var(--text);
    /* font-style: italic; */
  }


  .link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--text-light);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }
  
  .link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: var(--text-light);
  }

  a:hover{
    color: var(--text);
  }



@media only screen and (max-width: 900px) {
    
  body{
      font-size: 1rem;
      height: auto;
      /* padding: 1rem; */
      padding-bottom: 3rem;
      overflow: visible;
  }

  canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }


  
  #top-content{
      width: 100%;
      max-width: 100%;
      position: relative;
      top: auto;
      left: auto;
      bottom: auto;
      right: auto;
      margin-top: 1rem;
  }
  
  #bottom-content{
      position: relative;
      margin-top: 6rem;
      max-width: 100%;
      width: 100%;
      top: auto;
      left: auto;
      bottom: auto;
      right: auto;
    }
  
    .flex-col{
      gap: 1.5rem;
    }
  
    .medium-gap{
      gap: 1.5rem;
    }

    .large-gap{
      gap: 4rem;
    }
  
    h1{
      font-size: 1.25rem;
    }
  
    h2{
      font-size: 3rem;
    }
  
  
    h3{
      font-size: 1rem;
    }
  
    }
  